body{
    display: flex;
    justify-content: center;
    background-image: url("../imgs/flores.jpg");
}

.main-container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;   
}

img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin: 3px;
}
.turnos{
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    margin: 3px;
    flex-direction: column;

}
.card-container{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
}

#turnos{
    width: auto;
    height: auto;
    background-color: blanchedalmond;
    font-style: inherit;
    font-size:20px;
}

.bienvenida{  
    width: auto;
    height: auto;
    background-color: blanchedalmond;
    font-style: inherit;
    font-size: 20px;
}
    
