.main-container{
    width: 800px;
    display: flex;
    flex-wrap: wrap;   
}

img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin: 3px;
}

body{
    display: flex;
    justify-content: center;
}

